.content img {
  width: 100%;
  height: 30%;
  padding: 0px;
  margin: 0px;
}
.description {
  line-height: 30px;
  margin-left: 20px;
}
.avatar {
  padding-top: 0rem;
  margin-top: 0px;
}
.info {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.content {
  padding: 0pt;
  margin: 0pt;
}
.personal {
  background-color: ghostwhite;
  border-radius: 5px;
  color: gray;
}
.personal img {
  width: 25px;
  height: 20px;

  background-color: gray;
}
.status {
  padding-bottom: 20px;
  text-align: justify;
  color: gray;
}
